@media (min-width: 750px) {
    .main-cities {
        max-width: 800px;
        padding: 40px;
        text-align: center;
      }
    
      .main-cities h1 {
        font-size: 2rem;
      }
    
      /* Search Form */
      #searchForm {
        flex-direction: row;
        justify-content: center;
      }
    
      #searchForm input {
        width: 60%;
        max-width: 400px;
      }
    
      .boton-search {
        width: auto;
        max-width: none;
      }
    
      /* Events & Weather Sections */
      #eventList, #weatherInfo {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }
    ul.menuLinks  {
        display: flex; /* Muestra el menú en línea para pantallas más grandes */
        flex-direction: row;
        position: static; /* Restaura el flujo normal del diseño */
        box-shadow: none;
        padding: 0;
    }

    #myButton {
        display: none; /* Oculta el botón hamburguesa en pantallas grandes */
    }
    .main-cities{
        max-width: 800px;
        margin: 50px auto;
    }
    /*form*/
    .main {
        max-width: 800px;
        margin: 0 auto;
        padding: 2rem;
        background-color: #ffffff;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin-bottom: 2rem;
    }

    .contact-form {
        text-align: center;
    }

    #contactForm {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        text-align: left;
    }

    .form-group {
        grid-column: span 2;
    }

    .form-group input,
    .form-group textarea {
        font-size: 1rem;
        padding: 12px;
    }

    #contactForm button {
        grid-column: span 2;
        padding: 12px 30px;
        font-size: 1.1rem;
    }
    .italy-image {
      width: 70%;
  }

}